.contactsBlock {
    height: 350px;
    background-color: #f1e5c0;

}

.contactsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}

.contactForm {
    width: 70%;
    background-color: lavender;
    display: flex;
   flex-direction: column;
    align-items: center;


}

.contactForm input, .contactForm textarea {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .contactForm {
        width: 80%
    }
}