@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contactsBlock {
  height: 350px;
  background-color: $bgColor;

  .contactsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    .contactForm {
      width: 50%;
      background-color: $bgColor;
      display: flex;
      flex-direction: column;
      align-items: center;

      .formInput {
        margin-bottom: 1rem;
        background: $primaryColor;
        width: 100%;
        outline: 1px solid transparent;


          border: 0;
          -webkit-text-fill-color: $dgSecondColor;
          -webkit-box-shadow: 0 0 0 1000px $primaryColor inset;
          transition: background-color 5000s ease-in-out 0s;
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);


      }
      @media screen and (max-width: 600px) {
          width: 100%
      }

      //.contactForm input, .contactForm textarea {
      //  width: 100%;
      //}
      //
      //@media screen and (max-width: 1300px) {
      //  .contactForm {
      //    width: 100%
      //  }
      //}


    }
    .contactBtn {
      display: block;
      @include text($titleFontFamily, 16px, 1.2, $textColor);
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      padding: 7px 20px;
      transition: all 0.4s ease-in-out 0s;
      background: transparent;
      max-width: 170px;
      margin: 15px auto;
      z-index: 22;
      text-align: center;
      border-radius: 0px;
      width: 100%;
      border: none;
      position: relative;
      outline: 1px solid transparent;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 10px;
        width: 50%;
        background: #cdc7c7;
        z-index: -1;
        transition: all 0.2s ease-in-out 0s;
        left: 50%;
        transform: translate(-50%, 0);
      }
      &:hover::after {
        height: 100%;
        width: 100%;
      }
    }

  }

}

