@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
  padding-top: 30px;
  width: 250px;
  background-color: $dgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .icon {
    color: $primaryColor;
    height: 80px;
    width: 80px;
    margin: 0px auto 30px;
    background: rgba(255, 255, 255, 0.1);
    display: block;
    line-height: 80px;
    font-size: 30px;
    box-shadow: -6px 10px 40px rgba(0, 0, 0, 0.06);
    text-align: center;
    transform: rotate(45deg);
    transform-origin: center;

    .faIcons {
      transform: rotate(-45deg);
    }
  }

  .skillInfo {
    .skillTitle {
      @include text($mainTitleFontFamily, 16px, 1.2, $textColor);
      letter-spacing: 1px;
    }

    .skillDescription {
      @include text($titleFontFamily, 16px, 1.2, $textColor);
    }
  }
}

