.skillsBlock {
    height: 100vh;
    background-color: #d8e7ba;
}

.skillContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #f8f6f6;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}