@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";


.mainBlock {
  height: 100vh;
  background-color: $bgColor;

  @include flex(row, center, center, nowrap);
  padding: 100px 0;
    @include flex(row, space-around, center, wrap);

    .greeting {
      @include flex(column, flex-start, flex-start, nowrap);

      span {
        font-size: 20px;
        &:nth-child(2) {
          @include text($mainTitleFontFamily, 36px, 1.2, $textColor);
          letter-spacing: 5px;
          margin: 10px 0;
          span {
            @include text($mainTitleFontFamily, 36px, 1.2, $textColor);
            letter-spacing: 5px;
            position: relative;
            z-index: 0;
            display: inline-block;
            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 10px;
              background-color: $primaryColor;
              bottom: 0;
              z-index: -1;
            }
          }
        }
      }
      h1 {
        @include text($mainTitleFontFamily, 20px, 1.2, $textColor);
        letter-spacing: 5px;
        margin: 0;
      }

      @media screen and (max-width: 1143px) {
        align-items: center
      }

      .hiText {
        @include text($titleFontFamily, 18px, 1.2, $textColor);
      }
  }

  .photo {
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1144px) {
      margin-top: 50px;
    }
    .image {
      height: 400px;
      width: 300px;
      @include bgSettings();
      background-image: url("./../assets/image/photo.jpg");
      background-position: 80% 0;
      @media screen and (max-width: 600px) {
        height: 360px;
        width: 260px;
        transition: .5s;
      }
      &:before {
        content: "";
        position: absolute;
        height: 110%;
        width: 105%;
        border: 5px solid $primaryColor;
        left: 15px;
        top: -15px;
        z-index: -1;
      }
    }
  }
}



