@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";


.mainBlock {
    height: 100vh;
    background-color: $bgColor;
    .text {
        min-width: 300px;
        background-color: $bgColor;
        .hiText {
            @include text($titleFontFamily, 20px, 1.2);
        }
        .introText {
            @include text($mainTitleFontFamily, 36px, 1.2);
            font-weight: 300;
            text-transform: capitalize;
            letter-spacing: 5px;
            position: relative;
        }
        .devText {
            @include text($titleFontFamily, 20px, 1.2);
        }
    }
    .photo {
        width: 300px;
        height: 400px;
        background-color: $bgColor;
        border: 5px solid $primaryColor;

    }
}



