.project {
    width: 600px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commonView {
    text-align: center;
}

.image {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image::before {
    position: absolute;
    content: "";
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
}



.viewBtn {
    margin: 0 0 30px;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    color: #7f7d7d;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
}

.viewBtn:hover {
    color: #c1bfbf;
    background-color: #252527;
    font-size: 24px;

    transition: 1s;
}


.projectInfo {
    padding: 25px 20px;

}

.projectTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #fff;
}

.description {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}