@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.project {
    width: 600px;
    background-color: $dgSecondColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .image {
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.2;
        }
        .viewBtn {
            margin: 0 0 30px;
            font-family: 'Cinzel', serif;
            font-weight: 300;
            color: $dgSecondColor;
            text-transform: capitalize;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 5px;
            position: relative;
            z-index: 1;
            &:hover {
                color: $primaryColor;
                background-color: $dgSecondColor;
                font-size: 24px;
                transition: 1s;
            }
        }

    }
    .projectInfo {
        padding: 25px 20px;
        .projectTitle {
            @include text($titleFontFamily, 16px, 1.2);
            letter-spacing: 1px;
            margin: 0 0 5px;
        }
        .description {
            @include text($titleFontFamily, 14px, 1.2);
            font-weight: 400;

        }
    }
}