@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  min-height: 100vh;
  background-color: $secondLight;
  padding: 100px 0;

  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;

      @media screen and (max-width: 1500px) {
        justify-content: center
      }
    }
  }
}

//@media screen and (max-width: 1129px) {
//  .projects {
//    justify-content: center
//  }
//}